<div class="list-group-item">
    <h4 class="row">
    <span class="username">
        <a href="{% url 'posts:for_user' username=post.user.username %}">By @{{post.user.username}}</a>
    </span>
    <time class="time">
      <a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">at {{post.created_at}}</a>
    </time>
  </h4>




  <!-- need <h2>{{post.message_html|safe}}</h2> -->
  <p>{{post.message|safe}}</p>

    <div class="media-footer">
    {% if user.is_authenticated and post.user == user %}
      <a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-simple" aria-hidden='true'>
        <span class="text-dengar icon-lable">Delete post</span>
      </a>
    {% endif %}
  </div>





</div>


